<div class="container question-read" id="comments-container">
    <div class="content">
        <div class="card">
            <h4 class="big-title main uppercase">{{title}}</h4>
            <p class="sub-title main secondary pull-right">by: {{author}}</p>
            
            <p class="title question-body">{{question}}</p>

            <hr>
            
           <div class="comments-container">
               {{#each posts}}
                   <div class="comment" data-id="{{_id}}">
                       <h6 class="sub-title main semibold">{{content}}</h5>
                       <div class="row">
                           <p class="date pull-left caption main secondary">{{date}}</p>
                           <p class="date pull-right caption main secondary semibold">by: {{author}}</p>
                       </div>

                       <div class="row flexible">
                           <span class="rating text main secondary">
                               Rating: <span class="rating-value sub-title main bold">{{rating}}</span>
                           </span>
               
                           <button class="btn icon rate-comment-down"><i class="icon-exposure_neg"></i></button>
                           <button class="btn icon rate-comment-up"><i class="icon-exposure_plus"></i></button>
                           
                           <span class="flex"></span>

                           <button class="btn small raised btn-delete-post">DELETE</button>
                       </div>
                   </div>
               {{/each}}
           </div>

            <div id="add-new-post">
                <h3 class="big-title main uppercase">Add new Post</h3>
                <textarea class="input col-ns-12" id="post-response-content"></textarea>      

               <button class="btn raised primary pull-right post-response" id="btn-post-response">Post response</button>
            </div>

        </div>

    </div>
</div>
