<h1>iOS development</h1>
{{#each this}}
    <div id="{{title}}">
        <h5>{{title}}</h5>
        {{#each posts}}
            <div>{{title}}</div>
            <div>{{content}}</div>
            <div>{{author}}</div>
            <div>{{rating}}</div>
            <div>{{date}}</div>

        {{/each}}
    </div>
{{/each}}