<h1>{{title}} </h1>

<div>
    <h5>{{title}}</h5>
    <p>{{question}}</p>
</div>

{{#each posts}}
    <div>
        <h5>TITLE: {{title}}</h5>
        <p>{{content}}</p>
        <p>{{author}}</p>
        <p>{{date}}</p>
        <a>Rating: {{rating}}</a>
    </div>
    <br/>    <br/>

{{/each}}
