<h1>{{title}} </h1>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Title: {{title}}</h3>
    </div>
    <div class="panel-body">
        {{question}}
    </div>
</div>
{{#each posts}}
    <div class="panel panel-primary">
        <div class="panel-heading">
            by: {{author}}
        </div>
        <div class="panel-body">
            {{content}}
        </div>
        <div class="panel-footer">
            <p>Posted on: {{date}}</p>
            <a>Rating: {{rating}}</a>
        </div>
    </div>
{{/each}}

<h3>Add new Post</h3>
<div>
    <textarea id="post-response-content"></textarea>
    <button class="btn btn-default" id="btn-post-response">Post response</button>
</div>