<div class="col-md-2 col-md-offset-5">
    <h1>{{categoryName}} Development</h1>
    {{#each data}}
        <div class="container">
            <a href="#/{{_id}}" id="{{title}}">{{title}}</a>
            <h5>{{question}}</h5>
        </div>
    {{/each}}
</div>