<div class="container read-post">
    <div class="content">
        <div class="card">
            <h4 class="big-title main uppercase">#{{categoryName}} Development</h4>
            
            <hr>
           	
           	{{#each data}}
       	        <a href="#/{{_id}}" id="{{title}}" class="question">
					<h5 class="sub-title main semibold">{{title}}</h5>
					<p class="caption main">{{question}}</p>           	        
       	        </a>
           	{{/each}}

        </div>

    </div>
</div>